$mainColor: #B81B22;

header{
    height: 32px;
    background-color: #F7F7F7;
    text-align: center;
    font-size: 14px;
    color:#808080;
    line-height: 32px;
    .container{
        height: 32px;
        .headr{
            width: 126px;
            height: 32px;
            padding:0 50px 0 20px;
            position:relative;
            .laba{
                display: inline-block;
                width: 20px;
                height: 30px;
                background: url('../img/laba.png')no-repeat;
                position:absolute;
                left:0;
                top:1px;
            }
            .weixin{
                display: inline-block;
                width: 50px;
                height: 30px;
                background: url('../img/weixin.png')no-repeat;
                position:absolute;
                right:0;
                top:1px;
            }
            &:hover .erweima{
                    display: block;
                }
            .erweima {
                display: none;
                position:absolute;
                top: 33px;
                left: 10px;
                z-index:6;
                img{
                    width: 100px;
                    height: 100px;
                }
            }
        }
        .headl{
            width: 350px;
            height: 32px;
            ul{
                li{
                    float:left;
                    padding:0 8px;
                }
            }
        }
    }
}
#search{
    height: 90px;
    overflow: hidden;
    .container{
        height: 62px;
        margin-top: 20px;
        background-color: #F7F7F7;
        .sr{
            width: 430px;
            height: 62px;
            padding-top: 8px;
            .s_top{
                width: 430px;
                height: 30px;
                input{
                    width: 262px;
                    height: 28px;
                    padding-left: 10px;
                    float:left;
                    border: 1px solid #ccc;
                }
                button{
                    float:left;
                    color:#fff;
                    text-align: center;
                    line-height: 28px;
                    width: 48px;
                    height: 28px;
                    border: 1px solid #ccc;
                    background-color: $mainColor;
                }
                .buycar{
                    float:left;
                    text-align: center;
                    line-height: 30px;
                    font-size: 12px;
                    margin-left: 10px;
                    width: 108px;
                    height: 30px;
                    background-color: $mainColor;
                    position:relative;
                    a{
                        color:#fff;
                        .icon{
                            display: inline-block;
                            width: 28px;
                            height: 28px;
                            background: url('../img/bc.png')no-repeat;
                            position:absolute;
                            left:0;
                            top:1px;
                        }
                    }
                }
            }
            .hotword{
                width: 428px;
                height: 23px;
                padding-top: 2px;
                color:#727171;
                line-height: 18px;
                p{
                    margin-left: 15px;
                    font-size: 12px;

                    a{
                        margin: 0 5px 0 0;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}
nav{
    height: 77px;
    .container{
        height: 77px;
        h1{
            float:left;
            width: 190px;
            height: 77px;
            background: url('../img/logo.png');
            text-indent:-1000px; 
        }
        >ul{
            padding-top: 25px;
            float:left;
            >li{
                float:left;
                position:relative;
                padding: 0 32px 0 33px;
                border-right: 1px solid #888;
                span{
                    display: block;
                    width: 28px;
                    height: 20px;
                    background: url('../img/new.png');
                    position:absolute;
                    left:62px;
                    top:-15px;
                }
                >ul{
                    display: none;
                    border: 1px solid #ccc;
                    border-top: 8px solid $mainColor;
                    position:absolute;
                    left: 0;
                    top:24px;
                    z-index:9;
                    >li{
                        width: 98px;
                        height: 30px;
                        text-align: center;
                        background-color: #FFF;
                    }
                }
            }
            li:last-child{
                border-right: none;
            }
            >li:hover ul{
                display: block;
            }
        }
    }
}
#banner{
    height: 538px;
    .container{
        height: 538px;
        .ban{
            width: 1200px;
            height: 538px;
            position:relative;
        }
    }
}
#main{
    padding: 10px 0 10px 0;
    .container{
        
        .chongzhi{
            width: 1200px;
            height: 92px;
            margin: 10px 0;
        }
        .miaosha{
            height: 440px;
            h1{
                height: 64px;
                img{
                    height: 64px;
                    width: 775px;
                    float:left;
                }
                .daojishi{
                    margin-top: 1px;
                    float:right;
                    height: 63px;
                    font-size: 20px;
                    width: 425px;
                    background-color: #FF2933;
                    line-height: 64px;
                    color:#fff;
                    padding-left: 10px;

                }
            }
            >ul{
                height: 355px;
                padding: 10px 0;
                li{
                    width: 232px;
                    height: 340px;
                    float:left;
                    margin-left: 10px;
                    p{
                        font-size: 16px;
                        margin: 10px 0;
                        color:#474747;
                    }
                    del{
                        font-size: 14px;
                        color:#DDDDDB;
                    }
                    >div{
                        height: 30px;
                        font-size: 16px;
                        span{
                            color:$mainColor;
                        }
                        span:nth-child(2){
                            float:right;
                            color:#474747;
                            line-height: 18px;
                            b{
                                font-size: 22px;
                                color:$mainColor;
                            }
                        }
                    }
                }
                li:nth-child(1) {
                    margin-left: 0;
                }
            }
        }
        .t_xue{
            height: 555px;
            img{
                height: 64px;
            }
            ul{
                height: 485px;
                padding: 20px 0;
                li{
                    width: 266px;
                    height: 442px;
                    float:left;
                    margin: 0 17px;
                    img{
                        width:266px;
                        height: 330px;
                    }
                    .jiage{
                        width: 266px;
                        height: 112px;
                        text-align: center;
                        color:#fff;
                        font-size: 18px;
                        background-color: #D90009;
                        p{
                            line-height: 34px;
                            b{
                                font-size: 22px;
                            }
                        }
                    }
                }
            }
        }
        .waitao{
            height: 555px;
            img{
                height: 64px;
            }
            ul{
                height: 485px;
                padding: 20px 0;
                li{
                    width: 266px;
                    height: 442px;
                    float:left;
                    margin: 0 17px;
                    img{
                        width:266px;
                        height: 330px;
                    }
                    .jiage{
                        width: 266px;
                        height: 112px;
                        text-align: center;
                        color:#fff;
                        font-size: 18px;
                        background-color: #D90009;
                        p{
                            line-height: 34px;
                            b{
                                font-size: 22px;
                            }
                        }
                    }
                }
            }
        }
        .nianhuo{
            >img{
                height: 108px;
            }
            .zhuanqu{
                height: 876px;
                li{
                    width: 294px;
                    height: 430px;
                    float:left;
                    margin: 3px 3px;
                }
            }
            .w_j{
                height: 410px;
                .wazi{
                    width: 595px;
                    height: 410px;
                    display: inline-block;
                    margin-right: 10px;
                }
                .jiaju{
                    width: 595px;
                    height: 410px;
                }
            }
            .goods{
                height: 1705px;
                background-color: #ccc;
                li{
                    width: 288px;
                    height: 400px;
                    float:left;
                    margin-right: 16px;
                    margin-top: 25px;
                    img{
                        width: 288px;
                        height: 299px;
                    }
                    p{
                        height: 50px;
                        width: 288px;
                        background-color: #FFF;
                        text-align: center;
                        line-height: 50px;
                        font-size: 20px;
                    }
                    .price{
                        height: 50px;
                        width: 288px;
                        background-color: #D90009;
                        text-align: center;
                        line-height: 50px;
                        font-size: 20px;
                        color:#fff;
                        b{
                            font-weight: bold;
                            font-size: 26px;
                        }
                        a{
                            color:#fff;
                        }
                    }
                }
                li:nth-child(4n){
                    margin-right: 0;
                }
            }
        }
        .lainxi{
            height: 284px;
            margin: 20px 0;
            border: 1px solid #ccc;
            padding: 35px 40px 30px;
            .call{
                width: 1120px;
                height: 140px;
                li{
                    height: 140px;
                    width: 368px;
                    float:left;
                    border-left: 1px solid #ccc;
                }
                li:nth-child(1){
                    border-left: 0;
                }
            }
            .guanyu{
                height: 60px;
                margin-top: 22px;
                background-color: #F8F8F8;
                li{
                    float:left;
                    padding: 0 60px;
                    font-size: 14px;
                    margin-top: 22px;
                    color:#3e3a39;
                    border-left: 1px solid #ccc;
                }
                li:nth-child(1){
                    border-left: 0;
                }
            }
        }
    }
}
#fix{
    position:fixed;
    bottom:50px;
    right: 10px;
    .top{
        width: 77px;
        height: 210px;
        border: 1px solid $mainColor;
        img{
            width: 77px;
            height: 140px;
        }
        button{
            width: 77px;
            height: 70px;
            color:#fff;
            text-align: center;
            background-color: $mainColor;
        }
    }
}
footer{
    height: 165px;
    border-top: 1px solid #3E3A39;
    .container{
        height: 160px;
        .f_top{
            height: 50px;
            margin: 10px auto;
            p{
                text-align: center;
                color:#3e3a39;
                line-height: 25px;
                font-size: 12px;
            }
        }
        .f_bot{
            height: 90px;
            padding-top: 10px;
            ul{
                height: 70px;
                width: 750px;
                margin: 0 auto;
                li{
                    height: 70px;
                    width: 150px;
                    float:left;
                }
            }
        }
    }
}