$mainColor: #B81B22;

#search{
    height: 90px;
    overflow: hidden;
    .container{
        height: 62px;
        margin-top: 20px;
        background-color: #F7F7F7;
        .sr{
            width: 430px;
            height: 62px;
            padding-top: 8px;
            .s_top{
                width: 430px;
                height: 30px;
                input{
                    width: 262px;
                    height: 28px;
                    padding-left: 10px;
                    float:left;
                    border: 1px solid #ccc;
                }
                button{
                    float:left;
                    color:#fff;
                    text-align: center;
                    line-height: 28px;
                    width: 48px;
                    height: 28px;
                    border: 1px solid #ccc;
                    background-color: $mainColor;
                }
                .buycar{
                    float:left;
                    text-align: center;
                    line-height: 30px;
                    font-size: 12px;
                    margin-left: 10px;
                    width: 108px;
                    height: 30px;
                    background-color: $mainColor;
                    position:relative;
                    a{
                        color:#fff;
                        .icon{
                            display: inline-block;
                            width: 28px;
                            height: 28px;
                            background: url('../img/bc.png')no-repeat;
                            position:absolute;
                            left:0;
                            top:1px;
                        }
                    }
                }
            }
            .hotword{
                width: 428px;
                height: 23px;
                padding-top: 2px;
                color:#727171;
                line-height: 18px;
                p{
                    margin-left: 15px;
                    font-size: 12px;

                    a{
                        margin: 0 5px 0 0;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}
nav{
    height: 77px;
    .container{
        height: 77px;
        h1{
            float:left;
            width: 190px;
            height: 77px;
            background: url('../img/logo.png');
            text-indent:-1000px; 
        }
        >ul{
            padding-top: 25px;
            float:left;
            >li{
                float:left;
                position:relative;
                padding: 0 32px 0 33px;
                border-right: 1px solid #888;
                span{
                    display: block;
                    width: 28px;
                    height: 20px;
                    background: url('../img/new.png');
                    position:absolute;
                    left:62px;
                    top:-15px;
                }
                >ul{
                    display: none;
                    border: 1px solid #ccc;
                    border-top: 8px solid $mainColor;
                    position:absolute;
                    left: 0;
                    top:24px;
                    z-index:9;
                    >li{
                        width: 98px;
                        height: 30px;
                        text-align: center;
                        background-color: #FFF;
                    }
                }
            }
            li:last-child{
                border-right: none;
            }
            >li:hover ul{
                display: block;
            }
        }
    }
}
#main{
    // height: 2200px;
    .container{
        .color{
            height: 70px;
            // border: 1px solid #ccc;
            .top{
                height: 38px;
                color:#ccc;
                font-size: 14px;
                line-height: 38px;
                i{
                    color:$mainColor;
                }
                .fl{
                    i{
                        color:#000;
                    }
                }
            }
            .btm{
                height: 30px;
                border: 1px solid #ccc;
                background-color: #EDEDED;
                padding-left: 10px;
                font-size: 14px;
                color:#aaa;
                padding-top: 5px;
                button{
                    border: 1px solid #ccc;
                    color:#aaa;
                    background-color: #FFF;
                    width: 40px;
                    float:left;
                }
                a{
                    width: 244px;
                    height: 20px;
                    float:left;
                    display: inline-block;
                    background: url('../img/color.png')
                }
            }
        }
        .all{
            height: 68px;
            margin: 10px 0;
            .a_t{
                height: 30px;
                border-bottom: 2px solid $mainColor;
                h3{
                    display: inline-block;
                    float:left;
                    width: 90px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    color:#fff;
                    background-color: $mainColor;
                }
                .fr{
                    >button{
                        border: 1px solid #ccc;
                        margin:5px;
                        background-color: #FFF;
                    }
                }
            }
            .a_b{
                border: 1px solid #ccc;
                height: 35px;
                >ul{
                    li{
                        float:left;
                        color:#666666;
                        height: 34px;
                        line-height: 35px;
                        border-right: 1px solid #ccc;
                        padding: 0 15px;
                    }
                    .paixu{
                        background-color: #eeeeee;
                        height: 33px;
                    }
                }
                .shu{
                    height: 34px;
                    width: 135px;
                    padding:4px 16px;
                    color:#ccc;
                    border-right: 1px solid #ccc;
                    input{
                        width: 40px;
                        height: 16px;
                        padding-left: 10px;
                        border: 1px solid #ccc;
                    }
                }
                .hebing{
                    height: 34px;
                    width: 88px;
                    border: 1px solid #ccc;
                    text-align: center;
                    line-height: 34px;
                    background-color: #EEEEEE;
                    font-size: 14px;
                    color:#666;
                }
            }
        }
        .yushou{
            height: 320px;
            width: 1200px;
            margin-top: 10px;
            >ul{
                li{
                    float:left;
                    width: 230px;
                    height: 320px;
                    margin-right: 12px;
                    text-align: center;
                    // background-color: #ccc;
                    img{
                        width: 230px;
                        height: 230px;
                        border: 1px solid #ccc;
                    }
                    p{
                        font-size:14px;
                        font-weight: bold;
                        line-height: 40px;
                        color:#999;
                        span{
                            color:$mainColor;
                            del{
                                padding: 0 6px;
                            }
                        }
                    }
                }
                li:nth-child(5){
                    margin-right: 0px;
                }
            }
        }
        #goodlist{
            height: 1655px;
            // background-color: #ccc;
            >ul{
                li{
                    float:left;
                    width: 230px;
                    height: 320px;
                    margin-right: 12px;
                    text-align: center;
                    // background-color: #ccc;
                    img{
                        width: 230px;
                        height: 230px;
                        border: 1px solid #ccc;
                    }
                    p{
                        font-size:14px;
                        font-weight: bold;
                        line-height: 40px;
                        color:#999;
                        span{
                            color:$mainColor;
                            del{
                                padding: 0 6px;
                            }
                        }
                    }
                }
                li:nth-child(5n){
                    margin-right: 0px;
                }
            }
            .goods_b{
                p{
                    height: 48px;
                    width: 1200px;
                    float:left;
                    padding-left: 830px;
                    padding-top: 10px;
                    font-size: 14px;
                    .s{
                        width: 58px;
                        height: 25px;
                        background-color: #FFF;
                        border: 1px solid #ddd;
                    }
                    span{
                        display: inline-block;
                        width: 25px;
                        height: 25px;
                        border: 1px solid #ddd;
                        text-align: center;
                        line-height: 25px;
                        background-color: $mainColor;
                        color:#fff;
                    }
                    .x{
                        width: 58px;
                        height: 25px;
                        background-color: #FFF;
                        border: 1px solid #ddd;
                    }
                    input{
                        width: 28px;
                        height: 25px;
                        border: 1px solid #ddd;
                        padding-left: 8px;
                    }
                    .sure{
                        width: 50px;
                        height: 25px;
                        background-color: #77031C;
                        color:#fff;
                        margin-left: 10px;
                    }
                }
            }
        }
        .lainxi{
            height: 284px;
            margin: 20px 0;
            border: 1px solid #ccc;
            padding: 35px 40px 30px;
            .call{
                width: 1120px;
                height: 140px;
                li{
                    height: 140px;
                    width: 368px;
                    float:left;
                    border-left: 1px solid #ccc;
                }
                li:nth-child(1){
                    border-left: 0;
                }
            }
            .guanyu{
                height: 60px;
                margin-top: 22px;
                background-color: #F8F8F8;
                li{
                    float:left;
                    padding: 0 60px;
                    font-size: 14px;
                    margin-top: 22px;
                    color:#3e3a39;
                    border-left: 1px solid #ccc;
                }
                li:nth-child(1){
                    border-left: 0;
                }
            }
        }
    }
}
#fix{
    position:fixed;
    bottom:50px;
    right: 10px;
    .to_top{
        width: 77px;
        height: 210px;
        border: 1px solid $mainColor;
        img{
            width: 77px;
            height: 140px;
        }
        button{
            width: 77px;
            height: 70px;
            color:#fff;
            text-align: center;
            background-color: $mainColor;
        }
    }
}