header {
  height: 32px;
  background-color: #F7F7F7;
  text-align: center;
  font-size: 14px;
  color: #808080;
  line-height: 32px;
}

header .container {
  height: 32px;
}

header .container .headr {
  width: 126px;
  height: 32px;
  padding: 0 50px 0 20px;
  position: relative;
}

header .container .headr .laba {
  display: inline-block;
  width: 20px;
  height: 30px;
  background: url("../img/laba.png") no-repeat;
  position: absolute;
  left: 0;
  top: 1px;
}

header .container .headr .weixin {
  display: inline-block;
  width: 50px;
  height: 30px;
  background: url("../img/weixin.png") no-repeat;
  position: absolute;
  right: 0;
  top: 1px;
}

header .container .headr:hover .erweima {
  display: block;
}

header .container .headr .erweima {
  display: none;
  position: absolute;
  top: 33px;
  left: 10px;
  z-index: 6;
}

header .container .headr .erweima img {
  width: 100px;
  height: 100px;
}

header .container .headl {
  width: 350px;
  height: 32px;
}

header .container .headl ul li {
  float: left;
  padding: 0 8px;
}

#search {
  height: 90px;
  overflow: hidden;
}

#search .container {
  height: 62px;
  margin-top: 20px;
  background-color: #F7F7F7;
}

#search .container .sr {
  width: 430px;
  height: 62px;
  padding-top: 8px;
}

#search .container .sr .s_top {
  width: 430px;
  height: 30px;
}

#search .container .sr .s_top input {
  width: 262px;
  height: 28px;
  padding-left: 10px;
  float: left;
  border: 1px solid #ccc;
}

#search .container .sr .s_top button {
  float: left;
  color: #fff;
  text-align: center;
  line-height: 28px;
  width: 48px;
  height: 28px;
  border: 1px solid #ccc;
  background-color: #B81B22;
}

#search .container .sr .s_top .buycar {
  float: left;
  text-align: center;
  line-height: 30px;
  font-size: 12px;
  margin-left: 10px;
  width: 108px;
  height: 30px;
  background-color: #B81B22;
  position: relative;
}

#search .container .sr .s_top .buycar a {
  color: #fff;
}

#search .container .sr .s_top .buycar a .icon {
  display: inline-block;
  width: 28px;
  height: 28px;
  background: url("../img/bc.png") no-repeat;
  position: absolute;
  left: 0;
  top: 1px;
}

#search .container .sr .hotword {
  width: 428px;
  height: 23px;
  padding-top: 2px;
  color: #727171;
  line-height: 18px;
}

#search .container .sr .hotword p {
  margin-left: 15px;
  font-size: 12px;
}

#search .container .sr .hotword p a {
  margin: 0 5px 0 0;
  font-size: 12px;
}

nav {
  height: 77px;
}

nav .container {
  height: 77px;
}

nav .container h1 {
  float: left;
  width: 190px;
  height: 77px;
  background: url("../img/logo.png");
  text-indent: -1000px;
}

nav .container > ul {
  padding-top: 25px;
  float: left;
}

nav .container > ul > li {
  float: left;
  position: relative;
  padding: 0 32px 0 33px;
  border-right: 1px solid #888;
}

nav .container > ul > li span {
  display: block;
  width: 28px;
  height: 20px;
  background: url("../img/new.png");
  position: absolute;
  left: 62px;
  top: -15px;
}

nav .container > ul > li > ul {
  display: none;
  border: 1px solid #ccc;
  border-top: 8px solid #B81B22;
  position: absolute;
  left: 0;
  top: 24px;
  z-index: 9;
}

nav .container > ul > li > ul > li {
  width: 98px;
  height: 30px;
  text-align: center;
  background-color: #FFF;
}

nav .container > ul li:last-child {
  border-right: none;
}

nav .container > ul > li:hover ul {
  display: block;
}

#banner {
  height: 538px;
}

#banner .container {
  height: 538px;
}

#banner .container .ban {
  width: 1200px;
  height: 538px;
  position: relative;
}

#main {
  padding: 10px 0 10px 0;
}

#main .container .chongzhi {
  width: 1200px;
  height: 92px;
  margin: 10px 0;
}

#main .container .miaosha {
  height: 440px;
}

#main .container .miaosha h1 {
  height: 64px;
}

#main .container .miaosha h1 img {
  height: 64px;
  width: 775px;
  float: left;
}

#main .container .miaosha h1 .daojishi {
  margin-top: 1px;
  float: right;
  height: 63px;
  font-size: 20px;
  width: 425px;
  background-color: #FF2933;
  line-height: 64px;
  color: #fff;
  padding-left: 10px;
}

#main .container .miaosha > ul {
  height: 355px;
  padding: 10px 0;
}

#main .container .miaosha > ul li {
  width: 232px;
  height: 340px;
  float: left;
  margin-left: 10px;
}

#main .container .miaosha > ul li p {
  font-size: 16px;
  margin: 10px 0;
  color: #474747;
}

#main .container .miaosha > ul li del {
  font-size: 14px;
  color: #DDDDDB;
}

#main .container .miaosha > ul li > div {
  height: 30px;
  font-size: 16px;
}

#main .container .miaosha > ul li > div span {
  color: #B81B22;
}

#main .container .miaosha > ul li > div span:nth-child(2) {
  float: right;
  color: #474747;
  line-height: 18px;
}

#main .container .miaosha > ul li > div span:nth-child(2) b {
  font-size: 22px;
  color: #B81B22;
}

#main .container .miaosha > ul li:nth-child(1) {
  margin-left: 0;
}

#main .container .t_xue {
  height: 555px;
}

#main .container .t_xue img {
  height: 64px;
}

#main .container .t_xue ul {
  height: 485px;
  padding: 20px 0;
}

#main .container .t_xue ul li {
  width: 266px;
  height: 442px;
  float: left;
  margin: 0 17px;
}

#main .container .t_xue ul li img {
  width: 266px;
  height: 330px;
}

#main .container .t_xue ul li .jiage {
  width: 266px;
  height: 112px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  background-color: #D90009;
}

#main .container .t_xue ul li .jiage p {
  line-height: 34px;
}

#main .container .t_xue ul li .jiage p b {
  font-size: 22px;
}

#main .container .waitao {
  height: 555px;
}

#main .container .waitao img {
  height: 64px;
}

#main .container .waitao ul {
  height: 485px;
  padding: 20px 0;
}

#main .container .waitao ul li {
  width: 266px;
  height: 442px;
  float: left;
  margin: 0 17px;
}

#main .container .waitao ul li img {
  width: 266px;
  height: 330px;
}

#main .container .waitao ul li .jiage {
  width: 266px;
  height: 112px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  background-color: #D90009;
}

#main .container .waitao ul li .jiage p {
  line-height: 34px;
}

#main .container .waitao ul li .jiage p b {
  font-size: 22px;
}

#main .container .nianhuo > img {
  height: 108px;
}

#main .container .nianhuo .zhuanqu {
  height: 876px;
}

#main .container .nianhuo .zhuanqu li {
  width: 294px;
  height: 430px;
  float: left;
  margin: 3px 3px;
}

#main .container .nianhuo .w_j {
  height: 410px;
}

#main .container .nianhuo .w_j .wazi {
  width: 595px;
  height: 410px;
  display: inline-block;
  margin-right: 10px;
}

#main .container .nianhuo .w_j .jiaju {
  width: 595px;
  height: 410px;
}

#main .container .nianhuo .goods {
  height: 1705px;
  background-color: #ccc;
}

#main .container .nianhuo .goods li {
  width: 288px;
  height: 400px;
  float: left;
  margin-right: 16px;
  margin-top: 25px;
}

#main .container .nianhuo .goods li img {
  width: 288px;
  height: 299px;
}

#main .container .nianhuo .goods li p {
  height: 50px;
  width: 288px;
  background-color: #FFF;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
}

#main .container .nianhuo .goods li .price {
  height: 50px;
  width: 288px;
  background-color: #D90009;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  color: #fff;
}

#main .container .nianhuo .goods li .price b {
  font-weight: bold;
  font-size: 26px;
}

#main .container .nianhuo .goods li .price a {
  color: #fff;
}

#main .container .nianhuo .goods li:nth-child(4n) {
  margin-right: 0;
}

#main .container .lainxi {
  height: 284px;
  margin: 20px 0;
  border: 1px solid #ccc;
  padding: 35px 40px 30px;
}

#main .container .lainxi .call {
  width: 1120px;
  height: 140px;
}

#main .container .lainxi .call li {
  height: 140px;
  width: 368px;
  float: left;
  border-left: 1px solid #ccc;
}

#main .container .lainxi .call li:nth-child(1) {
  border-left: 0;
}

#main .container .lainxi .guanyu {
  height: 60px;
  margin-top: 22px;
  background-color: #F8F8F8;
}

#main .container .lainxi .guanyu li {
  float: left;
  padding: 0 60px;
  font-size: 14px;
  margin-top: 22px;
  color: #3e3a39;
  border-left: 1px solid #ccc;
}

#main .container .lainxi .guanyu li:nth-child(1) {
  border-left: 0;
}

#fix {
  position: fixed;
  bottom: 50px;
  right: 10px;
}

#fix .top {
  width: 77px;
  height: 210px;
  border: 1px solid #B81B22;
}

#fix .top img {
  width: 77px;
  height: 140px;
}

#fix .top button {
  width: 77px;
  height: 70px;
  color: #fff;
  text-align: center;
  background-color: #B81B22;
}

footer {
  height: 165px;
  border-top: 1px solid #3E3A39;
}

footer .container {
  height: 160px;
}

footer .container .f_top {
  height: 50px;
  margin: 10px auto;
}

footer .container .f_top p {
  text-align: center;
  color: #3e3a39;
  line-height: 25px;
  font-size: 12px;
}

footer .container .f_bot {
  height: 90px;
  padding-top: 10px;
}

footer .container .f_bot ul {
  height: 70px;
  width: 750px;
  margin: 0 auto;
}

footer .container .f_bot ul li {
  height: 70px;
  width: 150px;
  float: left;
}
