#head {
  height: 70px;
}

#head .container {
  height: 70px;
  border-bottom: 1px solid #3E3A39;
}

#head .container h1 {
  background: url("../img/logo.png");
  text-indent: -1000px;
  width: 190px;
  height: 68px;
}

#main {
  height: 560px;
}

#main .container {
  height: 525px;
}

#main .container .reg_l {
  width: 680px;
  height: 525px;
}

#main .container .reg_r {
  width: 520px;
  height: 525px;
}

#main .container .reg_r .reg_top {
  width: 424px;
  height: 84px;
  padding-top: 40px;
  border-bottom: 2px solid #B81B22;
}

#main .container .reg_r .reg_top h1 {
  float: left;
  width: 110px;
  height: 44px;
  line-height: 44px;
  font-size: 22px;
  color: #9A9A9A;
}

#main .container .reg_r .reg_top p {
  float: right;
  margin-top: 2px;
  font-size: 14px;
  line-height: 42px;
  color: #9A9A9A;
}

#main .container .reg_r .reg_top p a {
  color: #B81B22;
  font-weight: bold;
}

#main .container .reg_r .reg_form {
  width: 414px;
  height: 440px;
  padding-top: 20px;
  margin-left: 10px;
}

#main .container .reg_r .reg_form input {
  float: left;
  height: 42px;
  padding-left: 10px;
  margin-top: 16px;
  border: 1px solid #9A9A9A;
}

#main .container .reg_r .reg_form .yanzheng, #main .container .reg_r .reg_form .shoujihao {
  width: 264px;
}

#main .container .reg_r .reg_form .sjyanzheng, #main .container .reg_r .reg_form .psw1, #main .container .reg_r .reg_form .psw2 {
  width: 412px;
}

#main .container .reg_r .reg_form div {
  float: right;
  width: 142px;
  height: 42px;
  margin-top: 16px;
  line-height: 42px;
  border: 1px solid #9A9A9A;
  background-color: #F5F5F5;
}

#main .container .reg_r .reg_form .duanxin {
  font-size: 12px;
  color: #B81B22;
  text-align: center;
}

#main .container .reg_r .reg_form p {
  float: left;
  width: 270px;
  height: 58px;
  line-height: 70px;
  font-size: 14px;
  color: #9A9A9A;
}

#main .container .reg_r .reg_form p a {
  color: #B81B22;
}

#main .container .reg_r .reg_form .zhuce {
  width: 414px;
  height: 46px;
  background-color: #9A9A9A;
  text-align: center;
  line-height: 46px;
  color: #fff;
}

#foot footer {
  border-top: none;
}
